<h1><%= t('paper_trail_manager.changes.index.title') %></h1>

<p>
  <%= t('paper_trail_manager.changes.index.show') %>
  <%= ([link_to(t('paper_trail_manager.changes.index.all'), changes_path)] + change_item_types.map { |type| link_to(type.pluralize, changes_path(:type => type)) }).join(' | ').html_safe %>
</p>
<div class="table-responsive">
  <table class='changes_table table table-bordered'>
    <tfoot>
      <tr>
        <td colspan='2'>
          <%= paginate @versions %>
        </td>
      </tr>
    </tfoot>
    <thead>
      <tr class='changes_header'>
        <th class='change_time'><%= t('paper_trail_manager.changes.index.time') %></th>
        <th class='change_details'><%= t('paper_trail_manager.changes.index.details') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @versions.any? %>
        <% @versions.each do |version| %>
          <% next unless change_show_allowed?(version) %>
          <%= render :partial => 'version', :object => version %>
        <% end %>
      <% else %>
        <td rowspan='2'> &mdash; <%= t('paper_trail_manager.changes.index.no_changes') %> &mdash; </td>
      <% end %>
    </tbody>
  </table>
</div>

